*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #222;
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00ffff, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.weatherForm{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.weatherForm input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.weatherForm button{
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    outline: 0;
    height: 30px;
    width: 30px;
    cursor: pointer;
    font-size: 50px;
}
.weatherEmoji{
    font-size: 130px;
}
.tempDisplay{
    padding: 20px;
    font-size: 40px;
}
.cityDisplay{
    font-size: 35px;
    padding-top: 25px;
    padding-bottom: 15px;
    font-size: 40px;
}
.humidityDisplay, .windDisplay, .descDisplay{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.errorDisplay{
    font-size: 25px;
    padding: 15px;
}
